.signin-frame {
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 10%;

    background: black;
    border-color: white;
    border-style: solid;
    border-width: 5px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.signin {
    height: 100%;
    width: 100%;
}

.signin-action-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.field-input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    border-color: rgba(4, 4, 5, 0.1);
    border-radius: 8px;
    padding: 0 8px;
    margin: 0px;
    height: 36px;
    max-width: 300px;
}

.signin-content input {
    margin: 10px 0px;
    @media (max-width: 600px) {
        width: 90%;
    }
}

input:invalid {
    color: red;
}

.signin-detail {
    min-height: 32px;
}

.signin-content {

    display:flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%;
    width: 300px;

}

