.mainContent {
    flex: 1 1 auto;

}

.header {
    flex: 0 1 auto;
}

.footer {
    flex: 0 1 auto;
}

body {
    color: white;
}

.content-frame {
    background: black;
    border-color: white;
    border-style: solid;
    border-width: 5px;
    color: white;
}